@import "page.scss";

#home{
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        .up{
            flex: 3;
            padding: 5% 5% 0% 5%;
        }
        .bottom{
            flex: 2;
            padding: 0% 5% 5% 5%;
        }
    }
    .left{
        flex: 1.2;
    }
}

#home{
    .self-intro{
        margin-top: 20%;
        color: white;
        font-size: 32pt;
        font-weight: bold;
    }
    .skills{
        color: #7A7A7A;
        font-size: 16pt;
    }
    .links{
        display: flex;
        color: #7A7A7A;
        a{
            margin-right: 5%;
        }
    }
    .cv > img{
        margin-left: 5%;
        margin-top: 5%;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 801px){
    #home{
        .right{
            flex-direction: row;
            .up{
                padding-top: 2%;
            }
            .bottom{
                align-items: center;
            }
        }
    }
    #home{
        .self-intro{
            margin-top: 0%;
        }
    }
}

@media screen and (max-width: 800px){
    #home{
        .right{
            .up{
                padding-top: 2%;
            }
        }
    }
    #home{
        .self-intro{
            font-size: 22pt;
            margin-top: 0%;
        }
        .skills{
            font-size: 12pt;
        }
        .cv > img{
            width: 80vw;
        }
        .link_btn{
            .btn-secondary{
                font-size: 8pt;
            }
            span{
                font-size: 8pt;
            }
        }
    }
}
