.app{
    display: flex;
    flex-direction: row;
    font-family: monospace;
}

.test{
    border-style: solid;
    border-color: white;
}

@media screen and (max-width: 1300px){
    .app{
        flex-direction: column;
    }
}