$theme-1: #070707;
$theme-2: #181818;
$theme-3: #4D4D4E;

.nav{
    background-color: $theme-2;
    display: flex;
    flex-direction: column;
    width: 7vw;
    min-height: 100vh;
    max-height: fit-content;

    .nav-item{
        color: $theme-3;
    
        font-size: 12pt;
        justify-content: center;
        a{
            cursor: pointer;
            text-align: center;
        }
        a:hover{
            color: white;
        }
    }

    .logo{
        background-color: $theme-1;
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: column;

        img{
            height: 70px;
            width: 70px;
            margin:auto;
            display: block;
        }
        span{
            color: #cccccc;
            font-size: 12pt;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10%;
        }
    }

    .items{
        padding-top: 35vh;
    }
}

@media screen and (max-width: 1300px){
    .nav{
        width: 100vw;
        min-height: 7vh;
        flex-direction: row;
        .logo{
            flex-direction: row;
            height: 50pt;
            width: 100pt;
            img{
                height: 60px;
                width: 60px;
                margin-top: -1pt;
            }
            span{
                margin-top: 2.5vh;
                margin-right: 10%;
            }
        }
        .items{
            display: flex;
            flex-direction: row;
            padding-top: 0px;
            padding-left: 20vw;
            padding-top: 1%;
        }
    }
}

@media screen and (max-width: 800px){
    .nav{
        width: 100vw;
        min-height: 7vh;
        flex-direction: row;
        .logo{
            flex-direction: row;
            height: 50pt;
            width: 30pt;
            img{
                height: 30px;
                width: 30px;
                margin-top: 12pt;
            }
            span{
                display: none;
            }
        }
        .items{
            display: flex;
            flex-direction: row;
            padding-top: 0px;
            padding-left: 10vw;
            padding-top: 10pt;
        }
    }
}

